site_name: Seekify Documentation
site_description: Your Complete Toolkit for Search.
repo_url: https://github.com/Parveshiiii/Seekify
repo_name: seekify/seekify

theme:
  name: material
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.code.copy
    - content.tabs.link
    - navigation.expand
    - navigation.top

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list

nav:
  - Home: README.md
  - User Guide: docs/USER_GUIDE.md
  - Legal Notice: LEGAL_NOTICE.md
  - Changelog: changelog.md
